* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: white;
}

.container {
    position: relative;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.login {
    position: relative;
    top: 40px;
    border-radius: 20px;
    width: 100%;
    height: 50%;
}

.login img {
    position: relative;
    text-align: center;
    margin: auto;
    justify-content: center;
    width: 60%;
}

.form-control {
    background: transparent;
    color: black;
    border: 0;
    position: relative;
    margin: auto;
    text-align: center;
    border: 0;
    width: 50%;
}

.keypad {
    position: relative;
    top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.center {
    grid-column: span 2;
    /* Span two columns to center the "0" button */
}

.key {
    background: white;
    color: black;
    width: 100%;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    border: 0;
}

.num {
    background: rgba(0, 0, 255, 0.745);
    border-radius: 30px;
    font-weight: 600;
    color: white;
    position: relative;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: auto;
    height: 10%;
    width: 40%;
}

.key:hover {
    background-color: #2f9affeb;
    color: #fff;
}

.bottom-left-image {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    height: auto;
}